.product-card {
  display: grid;
  grid-row: span 4 / span 4;
  gap: 0.5rem;
  padding-bottom: .75rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: subgrid;
  scroll-snap-align: start;
  position: relative;
  color: rgb(51, 51, 51);
  background-color: rgb(247, 247, 247);
}